*.pyc
.permissions.yml.bak*
.*.swp
.idea*
.installed
app.po~
.crowdin.key
.crowdin.token
.vscode
tests/e2e/authconfig.json
docs/build/*
usr/lib/linuxmuster-adminui/plugins/extra_*
usr/lib/linuxmuster-adminui/etc/default-*
usr/lib/linuxmuster-adminui/plugins/ni_*
usr/lib/linuxmuster-adminui/plugins/lmp_*
